<%- include('header') -%>

<div class="jumbotron">
    <h1>CS152aj Quiz 1</h1>
    <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
</div>
<div class="row">
  <div class="col-2">
      <img src="images/brandeis.jpg" width="100%">
  </div>
  <div class="col-8">
    <a href="http://www.brandeis.edu">Brandeis University</a> was named after Justice Louis Dembitz Brandeis
      <ul>
           <li> Supreme Court Justice </li>
           <li> Strong supporter of Privacy </li>
           <li> Namesake of Brandeis University </li>
     </ul>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="jumbotron">
        <h1>Enter your <br>information</h1>
        <p>To be enrolled in a raffle</p>
    </div>
  </div>
    <div class="col-4">
    <div class="container px-lg-5">
  <div class="row mx-lg-n5">
    <div class="col-4  px-lg-5 border light"><br>Name<br></div>
    <div class="col-8 px-lg-5 border light">  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div>
  </div>
  <div class="row mx-lg-n5">
    <div class="col-4  px-lg-5 border light"><br>Email<br></div>
    <div class="col-8 px-lg-5 border light">  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div>
  </div>
  <div class="row mx-lg-n5">
    <div class="col-4  px-lg-5 border light"><br>Class<br></div>
    <div class="col-8 px-lg-5 border light">  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div>
  </div>
</div>
    </div>
  <div class="col-3">
  <button type="button" class="btn btn-primary">Submit</button>
  <br>
    <button type="button" class="btn btn-warning">Reset</button>
  </div>
</div>
<%- include('footer') -%>
